[submodule "kitchensink"]
	path = kitchensink
	url = https://github.com/autowww/forgesdlc-kitchensink.git
[submodule "blueprints"]
	path = blueprints
	url = https://github.com/autowww/blueprints.git
[submodule "forge-autodoc"]
	path = forge-autodoc
	url = https://github.com/autowww/forge-autodoc.git
